/*************
CLASSIC STLYES
**************/

body,
#ping-pong {
  background-color: #E6E6E6;
}

#my-header {
  min-height: 150px;
  padding-top: 15px;
  text-align: center;
  background-color: #F6DEB8;
}

h1 {
  font-size: 5em;
}

#left-sidebar,
#ping-pong {
  text-align: left;
  height: 100%;
}

#left-sidebar {
  margin-top: 3%;
  padding-top: 1%;
  padding-left: 30px;
  background-color: #8CBC93;
  padding-bottom: 1000px;
  margin-bottom: -1000px;
}

#left-sidebar h4 {
  color: #F6DEB8;
}

#left-sidebar h5 {
  color: #FFF;
}

#left-sidebar button {
  width: 60%;
  margin: .5em 0;
}

#style-morpher {
  margin-top: 20px;
}

#ping-pong {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 925px;
  margin-bottom: -925px;
}

#ping-pong ol li {
  padding: 0.25em 0;
}

/***************
OLDE TIME STYLES
****************/

.olde-time,
.olde-time #ping-pong {
  background-color: #F1F1D4;
}

.olde-time #my-header {
  background-color: #900;
}

.olde-time #left-sidebar {
  background-color: lightgrey;
}

.olde-time #left-sidebar h4 {
  color: black;
}

.olde-time #left-sidebar h5 {
  color: #900;
}

.olde-time,
.olde-time h5,
.olde-time #left-sidebar h5 {
  font-family: 'UnifrakturMaguntia', cursive;
  font-size: 17px;
}

.olde-time h1,
.olde-time h2,
.olde-time h4,
.olde-time button {
  font-family: 'Uncial Antiqua', cursive;
  font-size: 14px;
}

.olde-time h1 {
  font-size: 60px;
}

.olde-time h2 {
  font-size: 25px;
}

/**********
70'S STYLES
***********/

.seventies,
.seventies #ping-pong {
  background-color: darkgrey;
}

.seventies #my-header {
  background-color: #551A8B;
}

.seventies #left-sidebar {
  background-color: #551A8B;
}

.seventies #left-sidebar h4 {
  color: black;
}

.seventies #left-sidebar h5 {
  color: black;
}

.seventies,
.seventies h5,
.seventies #left-sidebar h5 {
  font-family: 'Farsan', cursive;
  font-size: 17px;
}

.seventies button {
  color: #FFDF00;
  background-color: #551A8B;
}

.seventies #left-sidebar button {
    background-color: darkgrey;
}

.seventies h1,
.seventies h2,
.seventies h4,
.seventies button {
  font-family: 'Monoton', cursive;
  font-size: 14px;
}

.seventies h1 {
  font-size: 60px;
  color: #FFDF00;
}

.seventies h2 {
  font-size: 25px;
  color: #FFDF00;
}
